@model Cursos.Models.Cursos
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> Cursos </h2>
@using (Html.BeginForm("Index", "Cursos", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.Label("Matérias:", new
        {
            @class = "col-md-2 control-label"
        })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.IdMateria, new SelectList(Model.Materias, "Codigo", "Nome"), new
            {
                @class = "form-control",
                id="selectMaterias" 
            })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Insira uma nova matéria:", new
        {
            @class = "col-md-2 control-label"
        })
        <div class="col-md-10">
            <input type="text" id="nome" name="nome">
            <input id="btnName" class="btn btn-default" value="Enviar"/>
        </div>
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("#btnName").click(function () {
                $('#selectMaterias').append($('<option>', {
                    value: 1,
                    text: $('#nome').val()
                }));
                $('#nome').val('');
            });
        });
    </script>
}